<script>
import Navbar from './nev.svelte'

import {generateRandomAlphabet1} from'./functions/alphabet1.js';
import {genRandomNumber1} from './functions/random1';

let randomNumber = genRandomNumber1(1, 10);
let randomAlphabet = generateRandomAlphabet1();


</script>

<main>
 
  <center>
  <div class="random-number">
    <h1>The random number is: {randomNumber}</h1>
    <button on:click={() => randomNumber = genRandomNumber1(1, 10)}>Generate new random number</button>
  </div>
  <div>
    <h1>The random alphabet is: {randomAlphabet}</h1>
    <button on:click={() => randomAlphabet = generateRandomAlphabet1()}>Generate new random alphabet</button>
  </div>
</center>
  


<script>

</script>

</main>

<style>
   * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
  }
  
  .random-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 4rem;
    margin: 0 0 2rem;
    color: #484848;
    text-align: center;
  }
  
  button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #0077CC;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #005EA8;
  }
  
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }
    
    button {
      font-size: 1.8rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 2rem;
    }
    
    button {
      font-size: 1.5rem;
    }
  }
</style>

